@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, retro;
}

body {
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: "Rajdhani", sans-serif;
}